<footer class="bg-light text-center ">
    <div class="container p-4">
        <section class="mb-4">
            <!-- Twitter -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="https://twitter.com/FrancoisDev_" role="button"><i class="fab fa-twitter"></i></a>
            <!-- Linkedin -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="https://www.linkedin.com/in/francois-coche/" role="button"><i class="fab fa-linkedin-in"></i></a>
            <!-- Github -->
            <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="https://github.com/francoiscoche" role="button"><i class="fab fa-github"></i></a>
        </section>
        <section class="mb-4">
            <p>Made with ❤️ by me. To pratice Symfony. October 2022</p>
        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2022
    </div>
</footer>